
.Per-Container {
  width: 90%;
  height: 90%;
  flex-direction: column;
  background-color: lightgrey;
  margin: 2px auto;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  margin-left: 23px;
  width: 40%;
}

.text-description {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}