body {
  background-image: url("assets/Post-Fondo.jpg");
}

.Per-Container {
  width: 75%;
  height: 100%;
  flex-direction: column;
  /* background-image: url("assets/Fondo1.jpg"); */
  background-color: rgba(211, 211, 211, 0.599);
  margin: 2px auto;
}

.Pers-Container{
    width: 98%;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.599);
    padding-top: 14px;
    margin: 2px auto;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  margin-left: 23px;
  width: 60%;
}

.cards {
  margin-left: 8px;
  width: 35%;
}

.Imgs{
  width: 10%;
  height: 70%;
}

.listbg {
  width: 90%;
  background-color: rgba(8, 0, 255, 0.543);
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  color: aliceblue;
}

.text-description {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}